*.o
*.stash
qrc_*.cpp
Makefile
*.user
moc_*.cpp
moc_*.h
Stage
stage
.vscode
build
.qtc_clangd
.DS_Store
Stage.app
builddir/
.flatpak-builder/
repo/
*.flatpak
target_wrapper.sh
AutoTests
coverage_report/
*.gcda
*.gcno
coverage*.info
